.header{

box-sizing: content-box;
display: flex;
flex-direction: row;

width: 20px;
height: 20px;

}

.container{
box-sizing: content-box;
display: inline-flex;


}

#menu{

  flex-direction: row;
  font-size: 30px;  
  padding-left:30px ;
}