<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DESTINO</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body  style="background-color: #b9c0c5" >
  <div class="container-fluid">
      <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        
       
        </a>
              <div class="nav nav-pills d-flex justify-content-between" style="flex-direction:column ;">  <img class="bi me-2" style="width: 450px;"   src="radrialy@gmail.com.png" alt="apresentacao">  <ul class="nav mt-2">
                <li class="nav-item"><a href="Home.html" class="nav-link " >HOME</a></li>
                <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">DESTINO</a></li>
                <li class="nav-item"><a href="Promocoes.html" class="nav-link">NOSSAS PROMOÇÕES</a></li>
                <li class="nav-item"><a href="Contato.html" class="nav-link">FALE CONOSCO</a></li>
    
              </ul> </div>
        
             
            </header>
          </div>
    
    <section>   
      <div class="container-fluid">
     <div>  
        <h3>   OS MELHORES DESTINOS  </h3>   <br>


     <p class="fs-3 text-dark fw-bold"> Maldivas  </p>  <br>

     <img style="width: 400px;" src="divas.jpg" alt=" Maldivas">
    </div>
    <p class="fs-3 text-dark fw-bold"> Cancun  </p>  <br>
   
    <img style="width: 400px;" src="cancun.webp" alt=" Cancun">
    <p class="fs-3 text-dark fw-bold"> Paris </p>  <br>
   
    <img style="width: 400px;" src="paris.jpg" alt=" paris">

    <p class="fs-3 text-dark fw-bold"> Fernando de Noronha  </p>  <br>
   
    <img style="width: 400px;" src="noronha.webp" alt=" Fernando de Noronha">

    <p class="fs-3 text-dark fw-bold"> Bonito  </p>  <br>
   
    <img style="width: 400px;" src="bonito.jpg" alt=" Bonito">



    <div> </div>


      </div>

    </section>
</div> 
</main>
<footer class="rodape">
    <p class="text-center fs-4"> Aceitamos todos os cartões e formas de pagamento.<p>
   
       <img class="d-block mx-auto" src="pag.png" alt="formas de pagamento"> <br>
       <h6 class="text-center fs-5"> &copy; Adriana Almeida</h6>
   
      
   </footer>
   
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>
</html>