<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css" media="screen" />
    <title>DESTINO</title>
    <!-- CSS only -->
   
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body  style="background-color: #d9dfe3" >
  <div class="container-fluid">
      <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        
       
        </a>
          <div class="nav nav-pills d-flex justify-content-between" style="flex-direction:column ;">  <img class="bi me-2" style="width: 450px;"   src="radrialy@gmail.com.png" alt="apresentacao">  <ul class="nav mt-2">
            <li class="nav-item"><a href="Home.html" class="nav-link " >HOME</a></li>
            <li class="nav-item"><a href="Destino.html" class="nav-link">DESTINO</a></li>
            <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">NOSSAS PROMOÇÕES</a></li>
            <li class="nav-item"><a href="Contato.html" class="nav-link">FALE CONOSCO</a></li>

          </ul> </div>
    
         
        </header>
      </div>

      <main>
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="cancun.webp" class="d-block w-100" alt="imagem cancun">
              <div class="carousel-caption d-none d-md-block"> 
              
                <p class="text-white bg-dark">2 noites para casal com café da manhã por R$5.000,00 reais</p>
              
              
              </div>
            </div>
            <div class="carousel-item">
              <img src="divas.jpg" class="d-block w-100" alt="imagem maldivas">
              <div class="carousel-caption d-none d-md-block">
                <h3 class="text-white bg-dark">Maldivas</h3>
            
                <p class="text-white bg-dark"> Pacote família 5 dias + Hospedagem + café da manhã por apenas R$15.000,00 reais</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="noronha.webp" class="d-block w-100" alt="Fernando de noronha">
              <div class="carousel-caption d-none d-md-block">
                <h3>Fernando de Noronha</h3>
                <p class="text-white bg-dark"> Diárias a partir de R$1000,00 reais</p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
    </main>
    <footer class="rodape">
        <p class="text-center fs-5"> Aceitamos todos os cartões e formas de pagamento.<p>
       
           <img class="d-block mx-auto" src="pag.png" alt="formas de pagamento"> <br>
           <h6 class="text-center fs-5"> &copy; Adriana Almeida</h6>
       
       
       </footer>
       


    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>